body {
    background: rgb(70, 72, 75);
	background-image: url('../../assets/img/acc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}   
  
.app {
    width: 150px;
    height: 150px;            
    cursor: move;
    z-index: 800;
}

.app2 {
    width: 150px;
    height: 150px;           
}